Repository sandialabs/arg: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Upload pyARG-dep in Gitlab.com, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, plug-in GUI tests, Build Angular app / Deploy to Flask server, Build RCP plug-in, Check pyARG-dep package, Package pyARG-dep, RCP plug-in tests

Path conditions:
  Upload pyARG-dep in Gitlab.com: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  pages: any of: docs/**/*, .gitlab/**/*, utils/**/*
  GUI integration tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI unit tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI flask tests: any of: web/api/**/*, tests/web_api_tests/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  Qt GUI tests: any of: arg/GUI/View/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  plug-in GUI tests: any of: web/angular/**/*
  Build Angular app / Deploy to Flask server: any of: rcp/**/*, web/**/*
  Build RCP plug-in: any of: rcp/**/*, web/**/*
  Check pyARG-dep package: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  Package pyARG-dep: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  RCP plug-in tests: any of: rcp/**/*, web/**/*

#179: Added forgotten self instance attribute
  arg/Aggregation/argAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#180: Allow for multiple data interfaces to aggregate
  arg/Aggregation/argAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#183: Complete aggregation overhaul
  arg/Aggregation/argAggregatorBase.py
  arg/Aggregation/argExodusAggregator.py
  arg/Aggregation/argVTKSTLAggregator.py
  arg/Applications/Explorator.py
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/can/Report-can.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#184 fixed circular dependancies
  arg/Aggregation/argAggregatorBase.py
  arg/Aggregation/argExodusAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

update version number to 1.1.1-RC1
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#181: update version numbers to official 1.1.1
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.1.1
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

update version to develop
  .gitlab/deployment/pypi/pyARG/setup.py
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: pages

#156 Added Sphinx config - removed old docs
  .gitlab/templates/docs.yml
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argReportLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/Common/argReportParameters.py
  docs/_data/navigation.yml
  docs/_includes/navigation.html
  docs/_layouts/default.html
  docs/_sphinx/Makefile
  docs/_sphinx/conf.py
  docs/_sphinx/index.rst
  docs/_sphinx/make.bat
  docs/assets/css/m-dark.documentation.compiled.css
  docs/html_tag_swapper.py
  docs/m.css.conf
  docs/search.md
  m.css/documentation/conf.py
  utils/string_swapper.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#188 fix show_mesh_surface function call with too many arguments
  arg/Aggregation/argExodusAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#187: Use "datatype" instead of "type" for aggregators data type
  arg/Applications/Explorator.py
  arg/Backend/argBackendBase.py
  tests/build_tests/can/Report-can.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#186: created new file for helper functions / tools
  arg/Aggregation/argExodusAggregator.py
  arg/Common/argTools.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#190: Resolve "Make insert_comment() backend-independent and factor it out at backend level"
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#194 #195: Resolve "Break down Exodus show_all_modes aggregation method into smaller bits"
  .gitlab/templates/build-tests-GA-EA.yml
  arg/Aggregation/argAggregatorBase.py
  arg/Aggregation/argExodusAggregator.py
  arg/Aggregation/argVTKSTLAggregator.py
  arg/Applications/Explorator.py
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/Generation/argVTK.py
  tests/build_tests/can/Report-can.yml
  tests/build_tests/can/expected/build_tests-can-Report-LaTeX.pdf
  tests/build_tests/can/expected/build_tests-can-Report-Word.docx
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/disk/data/introduction.txt
  tests/build_tests/disk/expected/build_tests-disk-Report-LaTeX.pdf
  tests/build_tests/disk/expected/build_tests-disk-Report-Word.docx
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#199 - updated ARG docker file - pushed docker image to docker hub - updated Wiki
  .gitlab/dockerfiles/arg/Dockerfile
  .gitlab/dockerfiles/arg/Dockerfile.sample
  .gitlab/dockerfiles/build-test/Dockerfile
Due: pages

#198: removed leftover debug statement
  arg/Aggregation/argExodusAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#198: removed leftover debug statement
  arg/Aggregation/argAggregatorBase.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#198: hot fix of abstract method prototype
  arg/Aggregation/argAggregatorBase.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#203: name artifacts uploaded by CI/CD jobs
  .gitlab-ci.yml
  .gitlab/templates/distributions-tests.yml
  .gitlab/templates/docs.yml
  .gitlab/templates/gui-tests.yml
  .gitlab/templates/package-web.yml
Due: pages

#204: update version numbers to official 1.1.1
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.1.2
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-LaTeX.yml
  tests/build_tests/crush-E/expected/build_tests-crush-E-Report-Word.yml
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.yml
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#207 - updated Dockerfile - added entrypoint script - added new repository to DockerHub nganalytics/arg
  .gitlab/dockerfiles/arg/Dockerfile
  .gitlab/dockerfiles/arg/entrypoint.sh
  .gitlab/templates/deploy.yml
Due: pages

#211: added one click example on Ubuntu - made entrypoint.sh more universal
  .gitlab/dockerfiles/arg/arg.desktop
  .gitlab/dockerfiles/arg/arg.ico
  .gitlab/dockerfiles/arg/arg.lnk
  .gitlab/dockerfiles/arg/arg.png
  .gitlab/dockerfiles/arg/arg.ps1
  .gitlab/dockerfiles/arg/arg.sh
  .gitlab/dockerfiles/arg/entrypoint.sh
Due: pages

#217: convert list of ignored_block_keys to str
  arg/Aggregation/argExodusAggregator.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#197: Resolve "Position argument in add_table() is not used"
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#201: Resolve "Fix matplotlib warning"
  arg/Generation/argPlot.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#222: added another directory to container (in and out)
  .gitlab/dockerfiles/arg/Dockerfile
Due: pages

#215: Improvements and updates
  .gitlab-ci.yml
  .gitlab/deployment/pypi/pyARG-dep/setup.py
  .gitlab/deployment/pypi/pyARG/requirements.txt
  .gitlab/dockerfiles/Python-interpreters/Dockerfile
  .gitlab/templates/build-tests-GA-EA.yml
  requirements.txt
Due: Upload pyARG-dep in Gitlab.com, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#225: rm all execution status log
  arg/Applications/Explorator.py
  arg/Applications/argGenerator.py
  arg/Common/argReportParameters.py
  arg/Common/argTypes.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#202: added --skip-existing as it is supported by GitLab at the moment
  .gitlab/templates/deploy.yml
Due: pages

#226: Resolve "Extend time plot to other data types than ExodusII and fix Y label bug"
  arg/DataInterface/argDataInterface.py
  arg/DataInterface/argKeyValueFilesReader.py
  arg/Generation/argPlot.py
  tests/build_tests/plots/Report-plots.yml
  tests/build_tests/plots/expected/build_tests-plots-Report-LaTeX.pdf
  tests/build_tests/plots/expected/build_tests-plots-Report-Word.docx
  tests/build_tests/plots/generator-artifacts.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#230: address more fundamental problem with plot ticks
  arg/Generation/argPlot.py
  tests/build_tests/plots/expected/build_tests-plots-Report-LaTeX.pdf
  tests/build_tests/plots/expected/build_tests-plots-Report-Word.docx
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#233: "Need table rendering with cell-by-cell background color specification"
  .gitlab/templates/build-tests-GA-EA.yml
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/color_tables/.arg
  tests/build_tests/color_tables/Report-tables.yml
  tests/build_tests/color_tables/data/abstract.tex
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/color_tables/generator-artifacts.yml
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - changing version for new release
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - added gemnasium-python requirements file as CI variable
  .gitlab-ci.yml
Due: none

#develop: - updated dependencies
  requirements.txt
Due: Upload pyARG-dep in Gitlab.com, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#develop: - start build tests
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - deps change
  .gitlab-ci.yml
  arg/__version__.py
  requirements.txt
Due: Upload pyARG-dep in Gitlab.com, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#develop: - deps change
  arg/__version__.py
  requirements.txt
Due: Upload pyARG-dep in Gitlab.com, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#develop: - pyARG-dep release
  .gitlab/deployment/pypi/pyARG-dep/setup.py
Due: Upload pyARG-dep in Gitlab.com, pages, Check pyARG-dep package, Package pyARG-dep
