Repository sandialabs/arg: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Upload pyARG-dep in Gitlab.com, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, plug-in GUI tests, Build Angular app / Deploy to Flask server, Build RCP plug-in, Check pyARG-dep package, Package pyARG-dep, RCP plug-in tests

Upload pyARG-dep in Gitlab.com:
  image: python:3.7-slim-buster
  stage: deploy
  needs:
  - job: Package pyARG-dep
    artifacts: true
  variables:
    DEPLOYMENT_PYPI_SRC: .gitlab/deployment/pypi/pyARG-dep
    PACKAGING_PATH: package-pyARG-dep
  before_script:
  - echo "========== [pyARG-dep deployment] Get pypi dependencies ==========="
  ...

pages:
  image: ruby:2.7
  stage: documentation
  needs: []
  before_script:
  - echo "==================== [Documentation] Install ARG dependencies ===================="
  - apt-get update -y
  - apt-get install -y python3 python3-pip git libgl1-mesa-glx
  - pip3 install --upgrade pip
  - pip3 install virtualenv
  ...

GUI integration tests:
  image: nganalytics/nga:gui-test
  stage: gui-test
  needs: []
  before_script:
  - echo "==================== [GUI Logic ${GUI_TEST_NAME}] Activate virtualenv ===================="
  - virtualenv venv
  - source venv/bin/activate
  - export PYTHONPATH=$(pwd)/venv/lib/python3.8/site-packages
  - echo $PYTHONPATH
  ...

GUI unit tests:
  image: nganalytics/nga:gui-test
  stage: gui-test
  needs: []
  before_script:
  - echo "==================== [GUI Logic ${GUI_TEST_NAME}] Activate virtualenv ===================="
  - virtualenv venv
  - source venv/bin/activate
  - export PYTHONPATH=$(pwd)/venv/lib/python3.8/site-packages
  - echo $PYTHONPATH
  ...

GUI flask tests:
  image: nganalytics/nga:gui-test
  stage: gui-test
  needs: []
  before_script:
  - echo "==================== [GUI Logic ${GUI_TEST_NAME}] Activate virtualenv ===================="
  - virtualenv venv
  - source venv/bin/activate
  - export PYTHONPATH=$(pwd)/venv/lib/python3.8/site-packages
  - echo $PYTHONPATH
  ...

Qt GUI tests:
  image: nganalytics/nga:gui-test
  stage: gui-test
  needs: []
  before_script:
  - echo "==================== [${GUI_TEST_NAME} GUI View] Run GUI tests ===================="
  variables:
    GUI_TEST_NAME: Qt
  script:
  - echo "==================== [${GUI_TEST_NAME} GUI View] Run GUI tests ===================="
  ...

plug-in GUI tests:
  image: nganalytics/nga:gui-test
  stage: gui-test
  needs: []
  before_script:
  - echo "==================== [${GUI_TEST_NAME} GUI View] Run GUI tests ===================="
  variables:
    GUI_TEST_NAME: plug-in
  script:
  ...

Build Angular app / Deploy to Flask server:
  stage: check-package
  needs: []
  image: trion/ng-cli
  script:
  - echo "==================== [pypi Package] Install Angular dependencies ===================="
  - cd web/angular
  - npm install
  - echo "==================== [pypi Package] Build Angular client ===================="
  ...

Build RCP plug-in:
  stage: package
  image: maven:3.5.4-jdk-8
  needs:
  - Build Angular app / Deploy to Flask server
  script:
  - mkdir target
  - cd rcp/src/io.arg.webgui
  - echo "==================== [RCP Package] Build RCP ARG Web-Gui plug-in ===================="
  - mvn clean install -DskipTests
  ...

#develop: - respawn version on develop branch
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#235: - updated expected - changed hello_world-tex report
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world-tex/Report-hello_world-tex.yml
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#236: - Word: added vertival and horizontal alignment - LaTeX: added horizontal alignment of columns based on headers
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/color_tables/Report-tables.yml
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

1.1.4: - prepare for 1.1.4 release
  .gitlab/deployment/pypi/pyARG/requirements.txt
  .gitlab/deployment/pypi/pyARG/setup.py
  .gitlab/templates/git-bot.yml
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.1.4
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: change expected
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
Due: none

#239: - added hyperlink feature to the reports - added add_hyperlink to interface - added hyperlinks to hello_world report case
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/can/expected/build_tests-can-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/disk/expected/build_tests-disk-Report-LaTeX.pdf
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
  tests/build_tests/plots/expected/build_tests-plots-Report-LaTeX.pdf
  tests/build_tests/sver/expected/build_tests-sver-Report-LaTeX.pdf
  tests/build_tests/tables/expected/build_tests-tables-Report-LaTeX.pdf
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

1.1.5: - changed version to 1.1.5
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

1.1.5: - try to fix virtualenv
  .gitlab/templates/distributions-tests.yml
Due: pages

1.1.5: - back to previous
  .gitlab/templates/distributions-tests.yml
Due: pages

#239: - added hyperlink feature to the reports - added add_hyperlink to interface - added hyperlinks to hello_world report case
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/__version__.py
  tests/build_tests/can/expected/build_tests-can-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/disk/expected/build_tests-disk-Report-LaTeX.pdf
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
  tests/build_tests/plots/expected/build_tests-plots-Report-LaTeX.pdf
  tests/build_tests/sver/expected/build_tests-sver-Report-LaTeX.pdf
  tests/build_tests/tables/expected/build_tests-tables-Report-LaTeX.pdf
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

1.1.5: - change version back to develop
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#241: ESCAPE string chars used in latex
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/color_tables/Report-tables.yml
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/disk/expected/build_tests-disk-Report-LaTeX.pdf
  tests/build_tests/sver/Report-sver.yml
  tests/build_tests/sver/expected/build_tests-sver-Report-LaTeX.pdf
  tests/build_tests/sver/expected/build_tests-sver-Report-Word.docx
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

1.1.6: - changed arg version
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.1.6
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - fixed cleaning tests results
  tests/build_tests/test.py
  tests/tools.py
Due: none

#238: - added evidence to data of the hello world test - added - `inline-docx` as value for backend - added logic to word backend for supporting inline documents
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/data/Evidence.docx
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - added inlining possibility with an image
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - changed order of building document
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - changed back to previous order - adjust ratio
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - changed width of picture
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#238: - fixed hello_world-tex test
  tests/build_tests/hello_world-tex/.arg
  tests/build_tests/hello_world/data/Evidence.docx
Due: none

#238: - changed expected
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: none

#238: - added comments
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - changed python version for failing job
  .gitlab/templates/distributions-tests.yml
Due: pages

#develop: - removed macos job for now
  .gitlab/templates/distributions-tests.yml
Due: pages

#develop: - Changed string, hyperlink formatting
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - Changed hello_world test case
  tests/build_tests/hello_world/Report-hello_world.yml
Due: none

#develop: - Added support for suffixes after hyperlink
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - changed expected
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: none

#242: - added possibility not to provide a string before hyperlink
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#242: - use newest available python-docx in requirements.txt
  requirements.txt
Due: Upload pyARG-dep in Gitlab.com, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#242: - changed expected
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: none

#243: - ARG release 1.1.7-RC2
  .gitlab/deployment/pypi/pyARG-dep/setup.py
  .gitlab/deployment/pypi/pyARG/requirements.txt
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Upload pyARG-dep in Gitlab.com, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

ARG release 1.1.7-RC2
  .gitlab/deployment/pypi/pyARG-dep/setup.py
  .gitlab/deployment/pypi/pyARG/requirements.txt
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/__version__.py
  requirements.txt
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Upload pyARG-dep in Gitlab.com, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#develop: - ARG release back to develop
  arg/__version__.py
Due: GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#245: - ARG release 1.1.7-RC3
  .gitlab/deployment/pypi/pyARG-dep/setup.py
  .gitlab/deployment/pypi/pyARG/setup.py
Due: Upload pyARG-dep in Gitlab.com, pages, Check pyARG-dep package, Package pyARG-dep

#246: - Remove unnecessary numbering and ARG release 1.1.7-RC4
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/Backend/argWordBackend.py
  arg/__version__.py
Due: pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

Path conditions:
  Upload pyARG-dep in Gitlab.com: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  pages: any of: docs/**/*, .gitlab/**/*, utils/**/*
  GUI integration tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI unit tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI flask tests: any of: web/api/**/*, tests/web_api_tests/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  Qt GUI tests: any of: arg/GUI/View/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  plug-in GUI tests: any of: web/angular/**/*
  Build Angular app / Deploy to Flask server: (any of: rcp/**/*, web/**/*) or (any of: web/**/*)
  Build RCP plug-in: any of: rcp/**/*, web/**/*
  Check pyARG-dep package: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  Package pyARG-dep: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  RCP plug-in tests: any of: rcp/**/*, web/**/*
