Repository sandialabs/arg: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Upload pyARG-dep in Gitlab.com, Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, plug-in GUI tests, Build Angular app / Deploy to Flask server, Build RCP plug-in, Check pyARG-dep package, Package pyARG-dep, RCP plug-in tests

Path conditions:
  Upload pyARG-dep in Gitlab.com: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  Build on macOS 10.14.6: any of: arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, tests/build_tests/**/*, requirements.txt, .gitlab/**/*, utils/**/*
  Build on Ubuntu latest Docker image: any of: arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, tests/build_tests/**/*, requirements.txt, .gitlab/**/*, utils/**/*
  Build on Debian latest Docker image: any of: arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, tests/build_tests/**/*, requirements.txt, .gitlab/**/*, utils/**/*
  Build on fedora latest Docker image: any of: arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, tests/build_tests/**/*, requirements.txt, .gitlab/**/*, utils/**/*
  Build on CentOS latest Docker image: any of: arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, tests/build_tests/**/*, requirements.txt, .gitlab/**/*, utils/**/*
  pages: any of: docs/**/*, .gitlab/**/*, utils/**/*
  GUI integration tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI unit tests: any of: arg/GUI/Logic/*, tests/GUI_tests/**/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  GUI flask tests: any of: web/api/**/*, tests/web_api_tests/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  Qt GUI tests: any of: arg/GUI/View/*, arg/Aggregation/*, arg/Applications/*, arg/Backend/*, arg/Common/*, arg/DataInterface/*, arg/Generation/*, arg/Tools/*, arg/__init__.py, arg/__version__.py, requirements.txt
  plug-in GUI tests: any of: web/angular/**/*
  Build Angular app / Deploy to Flask server: (any of: rcp/**/*, web/**/*) or (any of: web/**/*)
  Build RCP plug-in: any of: rcp/**/*, web/**/*
  Check pyARG-dep package: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  Package pyARG-dep: any of: .gitlab/deployment/pypi/pyARG-dep/*, requirements.txt
  RCP plug-in tests: any of: rcp/**/*, web/**/*

#246: - changed expected
  tests/build_tests/can/expected/build_tests-can-Report-Word.docx
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/disk/expected/build_tests-disk-Report-Word.docx
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
  tests/build_tests/plots/expected/build_tests-plots-Report-Word.docx
  tests/build_tests/sver/expected/build_tests-sver-Report-Word.docx
  tests/build_tests/tables/expected/build_tests-tables-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

spawn new develop branch from 1.1.7-RC4
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#246: - added expected
  tests/build_tests/can/expected/build_tests-can-Report-Word.docx
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/disk/expected/build_tests-disk-Report-Word.docx
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
  tests/build_tests/plots/expected/build_tests-plots-Report-Word.docx
  tests/build_tests/sver/expected/build_tests-sver-Report-Word.docx
  tests/build_tests/tables/expected/build_tests-tables-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

#develop: - changed back to develop
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#247: Fix MS Word Inlining
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

changed version for 1.1.7 release
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

changed version for 1.1.7 release
  .gitlab/deployment/pypi/pyARG/setup.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages

ARG 1.1.7 Release
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/Backend/argWordBackend.py
  arg/__version__.py
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - changed version back to develop
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

Added support for line breaks in Word and LaTeX backend
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#250: Support html formatting style in ARG
  .gitlab/templates/build-tests-GA-EA.yml
  arg/Aggregation/argExodusAggregator.py
  arg/Aggregation/argVTKSTLAggregator.py
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/Common/argMultiFontStringHelper.py
  arg/Common/argTypes.yml
  arg/Generation/argPlot.py
  arg/Generation/argVTK.py
  tests/build_tests/can/expected/build_tests-can-Report-Word.docx
  tests/build_tests/crush/expected/build_tests-crush-Report-LaTeX.pdf
  tests/build_tests/crush/expected/build_tests-crush-Report-Word.docx
  tests/build_tests/disk/expected/build_tests-disk-Report-Word.docx
  tests/build_tests/hello_world-tex/Report-hello_world-tex.yml
  tests/build_tests/hello_world-tex/data/Evidence.docx
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
  tests/build_tests/sver/expected/build_tests-sver-Report-Word.docx
  tests/build_tests/tables/expected/build_tests-tables-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#253: - Release ARG 1.1.8
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.1.8
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - fixed expected
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

#252: Landscape mode support
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/Common/argMultiFontStringHelper.py
  arg/Common/argTypes.yml
  tests/build_tests/color_tables/Report-tables.yml
  tests/build_tests/hello_world/Report-hello_world.yml
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#254: - improve building html nested list for further usage
  arg/Backend/argBackendBase.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#255: - release ARG 1.1.9
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#255: - update expected
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

ARG 1.1.9
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  arg/Common/argMultiFontStringHelper.py
  arg/Common/argTypes.yml
  arg/__version__.py
  tests/build_tests/color_tables/Report-tables.yml
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#255: - back to develop
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#255: Improve docx inlining
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#256: - fixed support for HTML input
  arg/Backend/argBackendBase.py
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#254: - added headings support - fixed LaTeX escaping problem
  arg/Backend/argLaTeXBackend.py
  arg/Backend/argWordBackend.py
  tests/build_tests/hello_world/Report-hello_world.yml
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#254: - fixed problem regarding different styles applied to different strings in the same list element
  arg/Backend/argBackendBase.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#254: - backend base improvements
  arg/Backend/argBackendBase.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#254: - updated expected
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-LaTeX.pdf
  tests/build_tests/color_tables/expected/build_tests-color_tables-Report-Word.docx
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

#develop: - change page range in CI
  .gitlab/templates/build-tests-GA-EA.yml
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages

#259: Fix ordered list in Word
  arg/Backend/argWordBackend.py
  requirements.txt
  tests/build_tests/hello_world/Report-hello_world.yml
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Upload pyARG-dep in Gitlab.com, Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

#develop: - preparation for release ARG 1.2.0
  .gitlab/deployment/pypi/pyARG-dep/setup.py
  .gitlab/deployment/pypi/pyARG/requirements.txt
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Upload pyARG-dep in Gitlab.com, Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests, Check pyARG-dep package, Package pyARG-dep

spawn new develop branch from 1.2.0
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#261: - reset paragraph attrs for lists - added div support - added Brian's html to hello_world test
  arg/Backend/argBackendBase.py
  tests/build_tests/hello_world/Report-hello_world.yml
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#261: - fixed corner case for closing list in LaTeX, when list at the end of the section
  arg/Backend/argLaTeXBackend.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#261: - changed expected
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

#develop: - changed version number for a new release
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.2.1
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#260: - added support for indentation in LaTeX backend
  arg/Backend/argLaTeXBackend.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#260: - changed expected
  tests/build_tests/hello_world-tex/expected/build_tests-hello_world-tex-Report-LaTeX.tex
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-LaTeX.pdf
  tests/build_tests/hello_world/expected/build_tests-hello_world-Report-Word.docx
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image

#develop: - ARG release preparation
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

spawn new develop branch from 1.2.2
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests

#develop: - test release
  .gitlab/deployment/pypi/pyARG/setup.py
  arg/__version__.py
Due: Build on macOS 10.14.6, Build on Ubuntu latest Docker image, Build on Debian latest Docker image, Build on fedora latest Docker image, Build on CentOS latest Docker image, pages, GUI integration tests, GUI unit tests, GUI flask tests, Qt GUI tests
